<!-- PersonalInformation.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户信息·编辑</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Update User Information</h2>
    <form id="updateForm" >
        <div class="form-group">
            <label for="newUname">New Username:</label>
            <input type="text" class="form-control" id="newUname" name="newUname" required>
        </div>
        <div class="form-group">
            <label for="newAge">New Age:</label>
            <input type="text" class="form-control" id="newAge" name="newage" required>
        </div>

        <button type="submit" class="btn btn-primary" formmethod="post">Update</button>
    </form>
</div>




</body>
</html>
